<!DOCTYPE html>
<html>
<head>
    <title>Coordinate Plotter</title>
</head>
<body>
    <h1>Coordinate Plotter</h1>
    <form method="POST" action="/add-coordinate">
        {% if not coordinates %}
        <input type="text" name="coord-name" placeholder="Title!" required><br><br>
        {% endif %}
        {% if not coordinates %}
        <input type="text" name="x-label" placeholder="x label" required>
        {% endif %}
        <input type="number" name="x" placeholder="x coordinate"required><br><br>
        {% if not coordinates %}
        <input type="text" name="y-label" placeholder="y label" required>
        {% endif %}
        <input type="number" name="y" placeholder="y coordinate" required><br><br>
        <input type="submit" value="Add Coordinate">
    </form>
    <h2>Coordinates:</h2>
    <ul>
        {% for coordinate in coordinates %}
            <li>{{ coordinate }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="/plot">
        <input type="submit" value="create plot">
    </form>
    <form method="POST" action="/reset">
        <input type="submit" value="reset">
    </form>
    <div id="plot">
        {% if plot %}
            <img src = '{{plot_url}}' alt="Coordinate Plot"> <br>
            <a href="/download-plot">Download Plot</a>
        {% endif %}
    </div>
</body>
</html>